language: node_js
notifications:
  email: false
node_js:
  - node
  - 10

install:
  - travis_retry npm install

script:
  - npm run test && npm run build
after_success:
  - npm run report-coverage

deploy:
  provider: script
  script: npm run deploy
  on:
    tags: true
